%nav.navbar.navbar-expand-sm
  %ul.navbar-nav.mr-auto
    %li.navbar-item
      = link_to 'Планеты', planets_path, class: 'nav-link'
    %li.navbar-item
      = link_to 'Галактики', galaxies_path, class: 'nav-link'
    - if user_signed_in?
      %li.navbar-item.dropdown
        = link_to 'Экспедиции', '#', class: 'nav-link dropdown-toggle', role: 'button', data: { toggle: 'dropdown' }, id: 'expedition-dropdown'
        = context_menu expedition_links
      %li.navbar-item.float-right
        = link_to 'Выйти', destroy_user_session_path, class: 'nav-link', method: :delete
    - else
      %li.navbar-item.float-right
        = link_to 'Войти', new_user_session_path, class: 'nav-link'
