- page_title "Список экспедиций"

- if policy(Expedition).new?
  .float-right
    = link_to 'Создать', new_expedition_path, class: 'btn btn-info'

%table.table.table-hover
  %thead
    %tr
      %th Название
      %th
      %th

  %tbody
    - @data.each do |result|
      %tr
        %td= result[:e_cost]
        %td= result[:e_id]
        %td= result[:investments_count]

    - @expeditions.each do |expedition|
      %tr
        %td= expedition.title
        %td= expedition.spaceships.count
        %td
