!!!
%html
  %head
    %title Экспедиции в космическом агентстве ПрофПорт
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .alert.alert-warning.alert-dismissible.fade.show{role: 'alert'}
      = alert
      = button_tag class: 'close', data: { dismiss: 'alert' }, aria: { label: 'close' } do
        %span{ aria: { hidden: 'true' } } &times;
    = render 'shared/top_menu'
    = yield
